<div class="content-box">
  <div class="first-add-buttons">
    <div class="add-button" (click)="addArticleContentItemByText()">
        <ion-icon name="create"></ion-icon>
    </div>
    <div class="add-button" (click)="addArticleContentItemByImageOrVideo()">
        <ion-icon name="image"></ion-icon>
    </div>
  </div>
  <div class="item-content" *ngFor="let articleContent of articleContents; let i=index">
    <div class="article-content" (click)="editArticleContentItem(i,articleContent)">
        <img class="close" src="assets/imgs/close-image.png" (click)="removeArticleContent(i)" alt="">
        <div class="article-type-text" *ngIf="articleContent.type=='text'">{{articleContent.contentText}}</div>
        <div class="article-type-image" *ngIf="articleContent.type=='image'">
          <div class="image">
              <img [src]="articleContent.url" alt="">
          </div>
          <div class="text">
            <ion-input type="text" readonly="true" value="" placeholder="输入图片描述" ></ion-input>
          </div>
        </div>
        <div class="article-type-video" *ngIf="articleContent.type=='video'">
          <div class="image">
              <img [src]="articleContent.ImgUrl" alt="">
          </div>
          <div class="text">
            <ion-input type="text" readonly="true" value="" placeholder="输入视频描述" ></ion-input>
          </div>
        </div>
    </div>
    <div class="add-buttons">
        <div class="add-button" (click)="addArticleContentItemByText(i)">
            <ion-icon name="create"></ion-icon>
        </div>
        <div class="add-button" (click)="addArticleContentItemByImageOrVideo(i)">
            <ion-icon name="image"></ion-icon>
        </div>
    </div>
  </div>
</div>
