<ion-header>
  <ion-toolbar color = "light">
    <ion-segment color="orange" [(ngModel)]="infoType">
      <ion-segment-button value="recommend">推荐</ion-segment-button>
      <ion-segment-button value="blogBook">博客书</ion-segment-button>
      <ion-segment-button value="serialize">连载</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher my-refresher (ionRefresh)="onRefresh($event,infoType)"></ion-refresher>

    <div [ngSwitch]="infoType">
        <div *ngSwitchCase="'recommend'">
            <div class="recommend">
                <ion-slides class="banner">
                    <ion-slide class="item ">
                        <img src="/assets/imgs/nav1.jpg" alt="">
                    </ion-slide>
                    <ion-slide class="item">
                        <img src="/assets/imgs/nav2.jpg" alt="">
                    </ion-slide>
                </ion-slides>
                <ion-scroll scrollX="true" class="nav">
                    <div class="item item-first">
                        <img src="/assets/imgs/ico-01.png" alt="">
                        <div class="nav-title">时评</div>
                    </div>
                    <div class="item">
                        <img src="/assets/imgs/ico-02.png" alt="">
                        <div class="nav-title">财经</div>
                    </div>
                    <div class="item">
                        <img src="/assets/imgs/ico-03.png" alt="">
                        <div class="nav-title">文史</div>
                    </div>
                    <div class="item">
                        <img src="/assets/imgs/ico-04.png" alt="">
                        <div class="nav-title">教育</div>
                    </div>
                    <div class="item">
                        <img src="/assets/imgs/ico-05.png" alt="">
                        <div class="nav-title">娱乐</div>
                    </div>
                    <div class="item">
                        <img src="/assets/imgs/ico-06.png" alt="">
                        <div class="nav-title">育儿</div>
                    </div>
                    <div class="item">
                        <img src="/assets/imgs/ico-07.png" alt="">
                        <div class="nav-title">美食</div>
                    </div>
                    <div class="item item-last">
                        <img src="/assets/imgs/ico-08.png" alt="">
                        <div class="nav-title">旅游</div>
                    </div>
                  </ion-scroll>
                  <div class="nav-line"></div>
                  <ion-list class="info-list" *ngFor="let item of infoList">
                      <div class="item" *ngIf="!item.isImage">
                            <div class="box">
                                <div class="item-title">{{ item.title}}</div>
                                <div class="item-des">{{item.des}}</div>
                            </div>
                            <div class="item-bottom">
                                <ion-icon name="person"></ion-icon><div class="item-user">{{item.realName}}</div>
                                <ion-icon name="chatboxes"></ion-icon><div class="item-messagenum"> {{item.msgNum}}</div>
                                <ion-icon name="heart"></ion-icon><div class="item-liked">{{item.liked}}</div>
                            </div>
                      </div>
                      <div class="item images" *ngIf="item.isImage">
                            <div class="box">
                                <div class="box-left">
                                    <div class="item-title">{{ item.title}}</div>
                                    <div class="item-des">{{item.des}}</div>
                                </div>
                                <div class="box-right">
                                    <img src="{{item.url}}" alt="">
                                </div>
                                
                            </div>
                            <div class="item-bottom">
                                <ion-icon name="person"></ion-icon><div class="item-user">{{item.realName}}</div>
                                <ion-icon name="chatboxes"></ion-icon><div class="item-messagenum"> {{item.msgNum}}</div>
                                <ion-icon name="heart"></ion-icon><div class="item-liked">{{item.liked}}</div>
                            </div>
                    </div>
                  </ion-list>
                  

            </div>
        </div>
        <div *ngSwitchCase="'blogBook'">
            <div class="blogBook">
              2
            </div>
        </div>
        <div *ngSwitchCase="'serialize'">
            <div class="serialize">
              3
            </div>
        </div>
    </div>
  <ion-infinite-scroll my-infinite (ionInfinite)="onInfinite($event,infoType)" [enabled] = "hasMore"></ion-infinite-scroll>

</ion-content>
